@import "tailwindcss";


@font-face {
  font-family: 'Century-Schoolbook';
  src: url('/src/assets/fonts/centuryschoolbook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-500 {
  animation-delay: 0.5s;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Century Schoolbook', sans-serif;
  line-height: 1.5;
  color: #111827;
  background-color: #FFF9C4; /* soft legal pad yellow */

  background-image:
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 28px,
      #b8d7ff 29px
    );
}