@import "tailwindcss";


@font-face {
  font-family: 'Century-Schoolbook';
  src: url('/src/assets/fonts/centuryschoolbook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Michaela-Grace';
  src: url('/src/assets/fonts/MichaelaGrace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-500 {
  animation-delay: 0.5s;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Century Schoolbook', sans-serif;
  background-color: #E4C2C6;
}